<div fxLayout="column row">
<mat-toolbar color="primary" fxLayout="row column" fxLayoutAlign="space-between center">
  <span> AirBnB Listing </span>
  <button type="button" mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #drawer="matSidenav">
    <mat-list>
      <mat-list-item *ngFor="let c of countries.countries" (click)="listProperties(c)">
        {{ c }}
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-container>
    <router-outlet></router-outlet>
  </mat-sidenav-container>

</mat-sidenav-container>
</div>

